@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.f-share-mono {
    font-family: "Share Tech Mono", monospace;
}

/* Body color */
.dark {
    font-family: "Share Tech Mono", monospace;
    background-color: #0f172a;
    overflow-x: hidden;
}

.light {
    font-family: "Share Tech Mono", monospace;
    background-color: #e2e8f0;
    overflow-x: hidden;
}

.dark .purple {
    color: #c2a7da;
}

.light .purple {
    color: #8e70a6;
}

.dark .purple-sub {
    color: #9574b5;
}

.light .purple-sub {
    color: #61427a;
}

/* Links */
.dark a {
    text-decoration: none;
    color: #e2e8f0;
}

.light a {
    text-decoration: none;
    color: #0f172a;
}

.dark a:hover {
    color: #c2a7da;
}

.light a:hover {
    color: #8e70a6;
}

.dark .linkHover:hover {
    transform: scale(1.1);
    font-weight: bold;
    transition: all 0.3s;
}

.light .linkHover:hover {
    transform: scale(1.1);
    font-weight: bold;
    transition: all 0.3s;
}

/* Headers */

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark p,
.dark small {
    color: #e2e8f0;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light p,
.light small {
    color: #0f172a;
}

/* Navbar color */
.light .nav {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7px);
}

.dark .nav {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7px);
}

/* Mode icons */
.light .activeicon {
    background: rgba(0, 0, 0, 0.29);
}

.dark .activeicon {
    background: rgba(255, 255, 255, 0.29);
}

/* Aurora particles */

/* Top left */
.aurora {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(30px);
    opacity: 0.5;
    width: 5em;
    height: 20em;
    bottom: 10%;
    left: -8%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 8s linear infinite alternate;
}

.aurora-1 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(30px);
    opacity: 0.5;
    width: 5em;
    height: 20em;
    bottom: 3%;
    left: -5%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 8s linear 0.6s infinite alternate;
}

.aurora-2 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 25em;
    bottom: -5%;
    left: 0%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 5s linear 1s infinite alternate;
}

.aurora-3 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 27em;
    bottom: -8%;
    left: 5%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 5s linear 1.5s infinite alternate;
}

.aurora-4 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 28em;
    bottom: -12%;
    left: 8%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 5s linear 1s infinite alternate;
}

.aurora-5 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 25em;
    bottom: -16%;
    left: 12%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 5s linear 0.5s infinite alternate;
}

.aurora-6 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 28em;
    bottom: -20%;
    left: 16%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 5s linear infinite alternate;
}

.aurora-7 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 22em;
    bottom: -25%;
    left: 20%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 5s linear 1.5s infinite alternate;
}

.aurora-8 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 18em;
    bottom: -27%;
    left: 24%;
    transform: rotate(15deg);
    z-index: -1;
    animation: auroraEffect 5s linear 1.5s infinite alternate;
}

@keyframes auroraEffect {
    0% {
        filter: hue-rotate(-60deg) blur(80px);
        transform: translate(0%, 0%);
        transform: rotate(15deg);
    }

    25% {
        filter: hue-rotate(-10deg) blur(25px);
        transform: translate(-10%, -10%);
        transform: rotate(15deg);
    }

    50% {
        filter: hue-rotate(-60deg) blur(50px);
        transform: translate(-20%, -20%);
        transform: rotate(15deg);
    }

    75% {
        filter: hue-rotate(-10deg) blur(20px);
        transform: translate(-30%, -30%);
        transform: rotate(15deg);
    }

    100% {
        filter: hue-rotate(-40deg) blur(50px);
        transform: translate(-40%, -40%);
        transform: rotate(15deg);
    }
}

/* Top right */
.aurora-tr {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(30px);
    opacity: 0.5;
    width: 5em;
    height: 20em;
    top: 10%;
    right: -8%;
    transform: rotate(10deg);
    z-index: -1;
    animation: auroraEffect-2 8s linear infinite alternate;
}

.aurora-tr-1 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(30px);
    opacity: 0.5;
    width: 5em;
    height: 20em;
    top: 3%;
    right: -5%;
    transform: rotate(10deg);
    z-index: -1;
    animation: auroraEffect-2 8s linear 0.6s infinite alternate;
}

.aurora-tr-2 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 25em;
    top: -5%;
    right: 0%;
    transform: rotate(10deg);
    z-index: -1;
    animation: auroraEffect-2 5s linear 1s infinite alternate;
}

.aurora-tr-3 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 27em;
    top: -8%;
    right: 5%;
    transform: rotate(10deg);
    z-index: -1;
    animation: auroraEffect-2 5s linear 1.5s infinite alternate;
}

.aurora-tr-4 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 28em;
    top: -12%;
    right: 8%;
    transform: rotate(10deg);
    z-index: -1;
    animation: auroraEffect-2 5s linear 1s infinite alternate;
}

.aurora-tr-5 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 25em;
    top: -16%;
    right: 12%;
    transform: rotate(10deg);
    z-index: -1;
    animation: auroraEffect-2 5s linear 0.5s infinite alternate;
}

@keyframes auroraEffect-2 {
    0% {
        filter: hue-rotate(-60deg) blur(80px);
        transform: translate(0%, 0%);
        transform: rotate(10deg);
    }

    25% {
        filter: hue-rotate(-10deg) blur(25px);
        transform: translate(-5%, -5%);
        transform: rotate(10deg);
    }

    50% {
        filter: hue-rotate(-60deg) blur(50px);
        transform: translate(0%, 0%);
        transform: rotate(10deg);
    }

    75% {
        filter: hue-rotate(-10deg) blur(20px);
        transform: translate(5%, 5%);
        transform: rotate(10deg);
    }

    100% {
        filter: hue-rotate(-40deg) blur(50px);
        transform: translate(10%, 10%);
        transform: rotate(10deg);
    }
}

.aurora-tr-6 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 20em;
    top: -16%;
    right: 18%;
    transform: rotate(5deg);
    z-index: -1;
    animation: auroraEffect-3 5s linear 0.5s infinite alternate;
}

.aurora-tr-7 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 20em;
    top: -16%;
    right: 24%;
    transform: rotate(5deg);
    z-index: -1;
    animation: auroraEffect-3 5s linear 1s infinite alternate;
}

.aurora-tr-8 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 24em;
    top: -20%;
    right: 30%;
    transform: rotate(5deg);
    z-index: -1;
    animation: auroraEffect-3 5s linear infinite alternate;
}

.aurora-tr-9 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 22em;
    top: -25%;
    right: 34%;
    transform: rotate(5deg);
    z-index: -1;
    animation: auroraEffect-3 5s linear 1.5s infinite alternate;
}

.aurora-tr-10 {
    background-image: linear-gradient(rgba(91, 244, 255, 0.7), rgba(226, 122, 255, 0.7));
    position: fixed;
    filter: blur(80px);
    opacity: 0.5;
    width: 5em;
    height: 18em;
    top: -27%;
    right: 40%;
    transform: rotate(5deg);
    z-index: -1;
    animation: auroraEffect-3 5s linear 1s infinite alternate;
}

@keyframes auroraEffect-3 {
    0% {
        filter: hue-rotate(-60deg) blur(80px);
        transform: translate(0%, 0%);
        transform: rotate(5deg);
    }

    25% {
        filter: hue-rotate(-10deg) blur(25px);
        transform: translate(-5%, -5%);
        transform: rotate(5deg);
    }

    50% {
        filter: hue-rotate(-60deg) blur(50px);
        transform: translate(0%, 0%);
        transform: rotate(5deg);
    }

    75% {
        filter: hue-rotate(-10deg) blur(20px);
        transform: translate(5%, 5%);
        transform: rotate(5deg);
    }

    100% {
        filter: hue-rotate(-40deg) blur(50px);
        transform: translate(10%, 10%);
        transform: rotate(5deg);
    }
}

/* Home styling */

/* Hero */
@media only screen and (min-width: 600px) {
    .dark .hero {
        background: rgba(255, 255, 255, 0.10);
        font-size: 1rem;
        backdrop-filter: blur(7px);
        max-width: 100%;
    }

    .light .hero {
        background: rgba(68, 68, 68, 0.15);
        font-size: 1rem;
        backdrop-filter: blur(7px);
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .dark .hero {
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(7px);
        max-width: 80%;
    }

    .light .hero {
        background: rgba(68, 68, 68, 0.15);
        backdrop-filter: blur(7px);
        max-width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .dark .hero {
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(7px);
        max-width: 70%;
        min-height: 55%;
    }

    .light .hero {
        background: rgba(68, 68, 68, 0.15);
        backdrop-filter: blur(7px);
        max-width: 70%;
        min-height: 55%;
    }
}

.hero img {
    max-height: 250px;
    max-width: 250px;
}

/* Typewriter animation */
.typed-out {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    width: 0%;
    height: fit-content;
    animation:
        typing 3s steps(20, end) forwards,
        cursor .4s step-end 6 alternate;
}

.typed-out-2 {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    width: 0%;
    height: fit-content;
    animation:
        typing 3s steps(20, end) 3.6s forwards,
        cursor .4s step-end 3s 5 alternate;
}

@keyframes cursor {
    50% {
        border-color: rgba(0, 0, 0, 0.34);
    }
}

@keyframes typing {
    to {
        width: 100%
    }
}


/* Animate on scroll */
@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

/* Home cards styling */
.dark .crd {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7px);
    max-height: 15rem;
    max-width: 25rem;
}

.light .crd {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7px);
    max-height: 15rem;
    max-width: 25rem;
}

/* Form style */
.light .frm {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7px);
}

.dark .frm {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7px);
}

.dark label {
    color: #e2e8f0;
}

.light label {
    color: #0f172a;
}

/* Icons */
.dark i {
    color: #e2e8f0;
}

.light i {
    color: #0f172a;
}

/* Blog card styling */
.dark .blog-crd {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7px);
    max-height: 25rem;
    max-width: 38rem;
}

.light .blog-crd {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7px);
    max-height: 25rem;
    max-width: 38rem;
}

/* Projects + Interests card styling */
.light .sm-crd {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7px);
    max-height: 28rem;
    max-width: 30rem;
}

.dark .sm-crd {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7px);
    max-height: 28rem;
    max-width: 30rem;
}

/* Max col height for display */
.h-col {
    max-height: 75%;
}

/* 404 styling */
.four {
    fill: none;
    stroke: #9574b5;
    stroke-width: 12;
    stroke-dasharray: 200 100;
}

.zero {
    fill: none;
    stroke: #9574b5;
    stroke-width: 12;
    stroke-dasharray: 200 100;
}

.animate {
    -webkit-animation: swirls 2s linear infinite;
    -moz-animation: swirls 2s linear infinite;
    -o-animation: swirls 2s linear infinite;
    animation: swirls 2s linear infinite;
}

@keyframes swirls {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 300;
    }
}