{% extends 'main/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<section class="container-fluid text-center">
    <h1 class="display-5 fw-bold my-3">Projects</h1>
    <!-- Displaying projects -->
    <div class="row row-cols-1 row-cols-md-3 gap-5 justify-content-center">
        {% for project in page_obj %}
        <div class="card g-0 border-0 rounded-5 shadow sm-crd overflow-hidden">
            <div class="card-body">
                <a href="{% url 'projects:projectDetailsView' project.id %}" class="card-title h3 fw-bold purple-sub">{{project.title}}</a>
                <p class="card-text text-start mt-4"><span class="fw-bold purple-sub">Dsecription:</span> {{project.description}}</p>
                <p class="card-text text-start small"><span class="purple-sub">Added at:</span> {{project.createdAt}}</p>
            </div>
            <img src="{{project.picture.url}}" class="card-img-bottom object-fit-cover h-50" alt="post image">
        </div>
        {% empty %}
        <p class="p-2 font-bold fs-4 purple">
            No projects yet..
        </p>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="d-flex flex-row justify-content-center my-5">
        {% if page_obj.has_previous %}
        <a href="{% url 'interests:displayInterestsView' %}{% querystring page=page_obj.previous_page_number %}"
            class="p-2 purple fs-5 linkHover mx-2">
            Previous
        </a>
        {% endif %}
        <p class="p-2 font-bold fs-5">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </p>
        {% if page_obj.has_next %}
        <a href="{% url 'interests:displayInterestsView' %}{% querystring page=page_obj.next_page_number %}"
            class="p-2 purple fs-5 linkHover mx-2">
            Next
        </a>
        {% endif %}
    </div>
</section>
{% endblock %}