{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Local stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="f-share-mono">
    <div class="flex flex-row h-auto min-h-full">
        <!-- Sidebar -->
        <nav class="bg-gray-900 w-1/5 flex flex-col px-2 sm:px-4">
            <div class="mt-4 mb-10 sticky top-4">
                <div class="flex items-center justify-center rounded-sm mb-4 font-bold text-gray-200 text-[15px] md:text-[18px]">
                    <i class="hidden sm:inline bi bi-bar-chart-steps p-1 rounded-md"></i>
                    <h1 class="sm:m-2">Dashboard</h1>
                </div>
                <div class="my-2 bg-gray-600 h-[1px]"></div>
                <div class="mt-4 p-2 flex items-center justify-center rounded-md duration-300 cursor-pointer hover:bg-violet-400 text-white 
                    {% if request.path == '/dashboard/' %}bg-violet-800{% endif %}">
                    <a href="{% url 'dashboard:homeView' %}" class="hidden sm:inline text-[15px] text-gray-200 font-bold"><i class="bi bi-house-door-fill p-1"></i>Home</a>
                    <a href="{% url 'dashboard:homeView' %}" class="inline sm:hidden text-[15px] text-gray-200 font-bold"><i class="bi bi-house-door-fill p-1"></i></a>
                </div>
                <div class="my-2 bg-gray-600 h-[1px]"></div>
                <div class="mt-4 p-2 flex items-center justify-center rounded-md duration-300 cursor-pointer hover:bg-violet-400 text-white 
                    {% if request.path == '/dashboard/projects/' %}bg-violet-800{% endif %}">
                    <a href="{% url 'dashboard:projectsDashView' %}" class="hidden sm:inline text-[15px] text-gray-200 font-bold"><i class="bi bi-file-earmark-bar-graph-fill p-1"></i>Projects</a>
                    <a href="{% url 'dashboard:projectsDashView' %}" class="inline sm:hidden text-[15px] text-gray-200 font-bold"><i class="bi bi-file-earmark-bar-graph-fill p-1"></i></a>
                </div>
                <div class="mt-4 p-2 flex items-center justify-center rounded-md duration-300 cursor-pointer hover:bg-violet-400 text-white 
                    {% if request.path == '/dashboard/interests/' %}bg-violet-800{% endif %}">
                    <a href="{% url 'dashboard:interestsDashView' %}" class="hidden sm:inline text-[15px] text-gray-200 font-bold"><i class="bi bi-palette-fill p-1"></i>Interests</a>
                    <a href="{% url 'dashboard:interestsDashView' %}" class="inline sm:hidden text-[15px] text-gray-200 font-bold"><i class="bi bi-palette-fill p-1"></i></a>
                </div>
                <div class="mt-4 p-2 flex items-center justify-center rounded-md duration-300 cursor-pointer hover:bg-violet-400 text-white 
                    {% if request.path == '/dashboard/posts/' %}bg-violet-800{% endif %}">
                    <a href="{% url 'dashboard:postsDashView' %}" class="hidden sm:inline text-[15px] text-gray-200 font-bold"><i class="bi bi-postcard-heart-fill p-1"></i>Posts</a>
                    <a href="{% url 'dashboard:postsDashView' %}" class="inline sm:hidden text-[15px] text-gray-200 font-bold"><i class="bi bi-postcard-heart-fill p-1"></i></a>
                </div>
            </div>
        </nav>
        <!-- Content -->
        <div class="px-16 py-4 text-gray-700 bg-gray-200 w-full">
        {% block content %}

        {% endblock %}
        </div>
    </div>

    <!-- Code to display uploaded image in form -->
    <script>
        var loadFile = function(event) {
            
            var input = event.target;
            var file = input.files[0];
            var type = file.type;

           var output = document.getElementById('preview_img');


            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
</script>
</body>

</html>