{% extends 'main/base.html' %}
{% load static %}

{% block intro %}
<section class="container text-center h-50 rounded-5 shadow hero p-3 my-5 align-content-center">
    <h2>Hello, my name is Ghaliah Banounah</h2>
    <h4>Full-Stack developer in the making, scroll down to know more!</h4>
</section>
<div class="container">
    <span></span>
</div>
{% endblock %}

{% block content %}
<!-- Interests section -->
<section class="container justify-content-center block p-3 my-5">
    <div class="d-flex flex-row justify-content-between mt-5 pt-5">
        <a href="" class="fw-semibold h2 linkHover">Interests</a>
        <a href="" class="align-self-center h3 linkHover">More
            <span class="material-symbols-outlined">arrow_forward</span>
        </a>
    </div>
    <div class="row row-cols-md-3 g-0 justify-content-evenly">
        <!-- Interests loop goes here -->
        {% for interest in interests %}
        <div class="card h-auto crd rounded-5 border-0 shadow overflow-hidden">
            <img src="{{interest.picture.url}}" class="card-img-top object-fit-cover h-75" alt="interest Picture">
            <div class="card-body">
                <a href="" class="h4">{{interest.title}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Projects section -->
<section class="container justify-content-center block p-3 my-5">
    <div class="d-flex flex-row justify-content-between">
        <a href="" class="fw-semibold h2 linkHover">Projects</a>
        <a href="" class="align-self-center h3 linkHover">More
            <span class="material-symbols-outlined">arrow_forward</span>
        </a>
    </div>
    <div class="row row-cols-md-3 justify-content-evenly">
        <!-- Projects loop goes here -->
        <div class="crd rounded-5 shadow p-3">

        </div>
    </div>
</section>

<!-- Blog section -->
<section class="container justify-content-center block p-3 my-5">
    <div class="d-flex flex-row justify-content-between">
        <a href="" class="fw-semibold h2 linkHover">From the Blog</a>
        <a href="" class="align-self-center h3 linkHover">More
            <span class="material-symbols-outlined">arrow_forward</span>
        </a>
    </div>
    <div class="row row-cols-md-3 justify-content-evenly">
        <!-- Blog loop goes here -->
        <div class="crd rounded-5 shadow p-3">

        </div>
    </div>
</section>

{% endblock %}