{% extends 'main/base.html' %}
{% load static %}

{% block title %}Post Details{% endblock %}

{% block content %}
<section class="container-lg my-5 p-0 text-center">
    <div class="row row-cols-1 row-cols-md-2 justify-content-center gap-3">
        <div class="col col-md-6 col-lg-5 h-col">
            <img src="{{post.picture.url}}" class="w-100 h-100 rounded-5 shadow"/>
        </div>
        <div class="col col-md-6 col-lg-5 h-col">
            <div class="d-flex flex-column text-start h-100 p-4 shadow gap-1 rounded-5 frm">
                <h5 class="display-6 fw-bold purple">{{post.title}} </h5>
                <h6 class="fw-bold fs-5 purple-sub">Content:</h6>
                <p class="fs-6 ps-4">{{post.content}}</p>
                <h6 class="fw-bold fs-5 purple-sub">Published:</h6>
                <p class="fs-6 ps-4">{% if post.isPublished %} Yes {% else %} No {% endif %}</p>
                <h6 class="fw-bold fs-5 purple-sub">Date added:</h6>
                <p class="fs-6 ps-4">{{post.publishedAt}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}