{% extends 'main/base.html' %}
{% load static %}

{% block title %}Interests{% endblock %}

{% block content %}
<section class="container-fluid text-center">
    <h1 class="display-4 fw-bold my-3">Interests</h1>
    <div class="row row-cols-1 row-cols-md-3 gap-5 justify-content-center">
        {% for interest in interests %}
        <div class="card g-0 border-0 rounded-5 shadow sm-crd overflow-hidden">
            <div class="card-body">
                <a href="{% url 'interests:interestDetailsView' interest.id %}" class="card-title h3 fw-bold">{{interest.title}}</a>
                <p class="card-text text-start mt-4">{{interest.description}}</p>
                <p class="card-text text-start small">Added at: {{interest.createdAt}}</p>
            </div>
            <img src="{{interest.picture.url}}" class="card-img-bottom object-fit-cover h-50" alt="post image">
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}